.sign-in-container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;}.sign-in-form {
  width: 784px;
  height: 408px;
  box-sizing: border-box;
  padding: 22px 22px;
  position: relative;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba($color: #000000, $alpha: 0.6);
  background-color: #292929;

  .sign-in-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;}/* left */
  .main-login-container {
    position: relative;
    width: 400px;

    .login-header {
      display: none;
      position: relative;
      width: 100%;

      .login-heading-title {
        margin: 0 auto;
        font-size: 22px;
        line-height: 1.2;
        font-weight: 600;
        text-align: center;
        color: #fff;}.login-heading-text {
        margin: 10px auto 0;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        color: rgba($color: #fff, $alpha: .6);}}.login-body {
      margin: 20px auto 0;
      position: relative;
      width: 100%;

      .login-item {
        margin-top: 20px;

        .label-name,.label-password {
          display: block;
          margin-bottom: 6px;
          font-size: 14px;
          line-height: 1.1;
          text-transform: uppercase;
          letter-spacing: .02em;
          color: #e7e7e7;

          .required {
            color: #ff0000;}}.login-input {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: center;
          border: 1px solid rgba($color: #fff, $alpha: .6);
          border-radius: 4px;

          .input-phone {
            padding: 9px 8px;
            line-height: normal;
            white-space: nowrap;

            .countryCode {
              position: relative;
              font-size: 16px;
              text-align: center;
              line-height: 1.1;
              color: #e7e7e7;

              &::after {
                content: '';
                display: block;
                width: 1px;
                height: 100%;
                background-color: rgba($color: #fff, $alpha: .6);
                position: absolute;
                right: -10px;
                top: 50%;
                transform: translateY(-50%);}}}.hidden {
            display: none;}.input-wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .input-user-name{
              outline: 0;
              border: none;
              background-color: transparent;
              padding: 10px 10px;
              height: 40px;
              font-size: 16px;
              color: #e7e7e7;
              text-align: left;
              box-sizing: border-box;}}}.input-password {
          outline: 0;
          border: none;
          background-color: transparent;
          padding: 10px 10px;
          width: 100%;
          height: 40px;
          font-size: 16px;
          color: #e7e7e7;
          text-align: left;
          box-sizing: border-box;}}.forgot-password {
        font-size: 16px;
        color: #00a0e9;
        text-align: left;
        line-height: 1.1;
        margin-top: 6px;
        border: 0;
        outline: none;
        background: transparent;}.sign-in-submit {
        margin: 10px auto;
        width: 100%;
        height: 44px;
        min-width: 120px;
        min-height: 44px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        background-color: #00a0e9;
        border-radius: 4px;
        border: none;}/* register link */
      .login-need-account{
        margin-top: 8px;
        font-size: 16px;
        text-align: left;
        line-height: 1.1;
        margin-top: 6px;

        .need-account {
          color: #e7e7e7;}.register-link {
          color: #00a0e9;
          .register-link-text {
            margin-left: 4px;}}}}}/* center */
  .vertical-separator-line {
    width: 1px;
    height: 80%;
    background-color: #dfdfdf;
    margin-left: 18px;
    margin-right: 18px;}/* right */
  .qr-login-container {
    position: relative;
    width: 300px;
    height: auto;

    .qr-login-inner {
      margin: 0 auto;
      border-radius: 2px;
      width: 120px;
      height: 120px;

      .qr-login-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;}}.qr-login-title {
      margin: 20px auto 0;
      font-size: 22px;
      line-height: 1.2;
      font-weight: 600;
      text-align: center;
      color: #fff;}.qr-login-text {
      margin: 10px auto 0;
      width: 176px;
      font-size: 16px;
      line-height: 1.2;
      text-align: center;
      color: rgba($color: #fff, $alpha: .6);}.other-login-container {
      margin: 20px auto 0;
      width: 100%;
      
      .other-login-title {
        margin: 0 auto;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        color: rgba($color: #fff, $alpha: .9);}.other-login-inner {
        margin: 10px auto 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        .other-login-item {
          width: 32px;
          height: 32px;
          list-style: none;

          &.login-qq,&.login-wx,&.login-facebook,&.login-google{}.icon_qq,.icon_wechat,.icon_facebook,.icon_google {
            display: block;
            width: 100%;
            height: 100%;

            path{
              fill: #fff;}}}}}}}.popup {}.popup-country-code {}.popup-con {}.popup-bg {}.popup-info {}.popup-input-search {}.input_c18ec9 {}.popup-icon-container {}.icon_c18ec9 {}.visible_c18ec9 {}.clear_c18ec9 {}.popup-line {}.popup-country-info {}.phone-country-list {}.country-item {}.country-name {}.country-code {}.popup-close {}