<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cookies popup</title>

  <link rel="stylesheet" href="./cookies-pop.css">

</head>

<body>
  <div class="popup-cookies" id="popup-cookies">
    <div class="popup-container">
      <!-- cookies-content -->
      <div class="cookies-content">
        <h3 class="cookies-title">cookie preferences</h3>
        <p class="cookies-text">
          We use optional cookies to improve your experience on our websites, such as through social media connections,
          and to display personalized advertising based on your online activity. If you reject optional cookies, only
          cookies necessary to provide you the services will be used. You may change your selection by clicking "Manage
          Cookies" at the bottom of the page.
          <a target="_blank" href="privacy.html" class="cookies-link">Privacy Statement</a>
          <a target="_blank" href="cookie.html" class="cookies-link">Third-Party Cookies</a>
        </p>
      </div>
      <!-- cookies-btns -->
      <div class="cookies-btns">
        <button type="button" class="cookies-btn"><span>Accept</span></button>
        <button type="button" class="cookies-btn" onclick="hidePop()"><span>Reject</span></button>
        <button type="button" class="cookies-btn"><span>Manage cookies</span></button>
      </div>
    </div>
  </div>
</body>

</html>