// background points
@mixin pattern-cross-dots-xl(){
  background-image: radial-gradient(currentColor 2px, transparent 2px),radial-gradient(currentColor 2px, transparent 2px);
  background-size: calc(20 * 2px) calc(20 * 2px);
  background-position: 0 0,calc(10 * 2px) calc(10 * 2px);
  color: rgba(255, 255, 255, .2) !important;
} 

// mobile 
@media screen and (max-width: 1024px){
  .popup-cookies{
    display: block;
    box-sizing: border-box;
    padding: 30px 30px;
    position: relative;
    overflow: hidden;
    background: #000;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 2.5px rgba(0, 0, 0, 0.12),0px 0px 7px rgba(0, 0, 0, 0.14),0px 0px 16.9px rgba(0, 0, 0, 0.15),0px 0px 56px rgba(0, 0, 0, 0.17);
    @include pattern-cross-dots-xl();

    .popup-container{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;

      .cookies-content{
        width: 100%;

        .cookies-title{
          margin: 0;
          font-size: 22px;
          line-height: 1.2;
          text-align: left;
          color: #E6E6FA;
        }

        .cookies-text{
          font-size: 16px;
          line-height: 1.2;
          text-align: left;
          color: #E6E6FA;

          .cookies-link{
            color: #D8BFD8;
          }
        }
      }

      .cookies-btns{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;

        .cookies-btn{
          width: 100%;
          height: 40px;
          color: #E6E6FA;
          // border-radius: 5px;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          background: transparent;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
          box-shadow: inset 2px 2px 5px rgba(255,255,255,.4),inset -2px -2px 5px rgba(0, 0, 0, .1);
          outline: none;

          background-color: #c797eb;
          background-image: linear-gradient(315deg, #E6E6FA 0%, #c797eb 60%);
          line-height: 42px;
          padding: 0;
          border: none;

          &:not(:first-child) {
            margin-top: 10px;
          }

          &::before,&::after{
            position: absolute;
            content: "";
            right: 0;
            bottom: 0;
            background: #c797eb;
            transition: all 0.3s ease;
          }

          &::before{
            height: 0%;
            width: 2px;
          }

          &::after{
            width: 0%;
            height: 2px;
          }

          &:hover:before {
            height: 100%;
          }
          &:hover:after {
            width: 100%;
          }

          &:hover{
            background: transparent;
          }

          span{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;

            &:hover{
              color: #c797eb;

              &::before {
                height: 100%;
              }

              &::after {
                width: 100%;
              }
            }

            &::before,
            &::after {
              position: absolute;
              content: "";
              left: 0;
              top: 0;
              background: #c797eb;
            }

            &::before {
              width: 2px;
              height: 0%;
            }

            &::after {
              height: 2px;
              width: 0%;
            }
          }
        }
      }
    }
  }
}

// pc
@media screen and (min-width: 1025px){
  .popup-cookies{
    display: block;
    box-sizing: border-box;
    padding: 20px 20px;
    position: relative;
    overflow-x: visible;
    background: #000;
    // background: #020424;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 2.5px rgba(0, 0, 0, 0.12),0px 0px 7px rgba(0, 0, 0, 0.14),0px 0px 16.9px rgba(0, 0, 0, 0.15),0px 0px 56px rgba(0, 0, 0, 0.17);
    @include pattern-cross-dots-xl();

    .popup-container{
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1800px;

      .cookies-content{
        overflow-x: visible;
        max-width: 1200px;
        min-width: 540px;

        .cookies-title{
          margin: 0;
          font-size: 22px;
          line-height: 1.2;
          text-align: left;
          color: #E6E6FA;
        }

        .cookies-text{
          font-size: 16px;
          line-height: 1.2;
          text-align: left;
          color: #E6E6FA;

          .cookies-link{
            color: #D8BFD8;
          }
        }
      }

      .cookies-btns{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 560px;
        width: 100%;
        min-width: 400px;

        .cookies-btn{
          min-width: 130px;
          height: 40px;
          color: #E6E6FA;
          // border-radius: 5px;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          background: transparent;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
          box-shadow: inset 2px 2px 5px rgba(255,255,255,.4),inset -2px -2px 5px rgba(0, 0, 0, .1);
          outline: none;

          background-color: #c797eb;
          background-image: linear-gradient(315deg, #E6E6FA 0%, #c797eb 60%);
          line-height: 42px;
          padding: 0;
          border: none;

          // &:nth-child(2){
          //   margin: 0 10px;
          // }

          &::before,&::after{
            position: absolute;
            content: "";
            right: 0;
            bottom: 0;
            background: #c797eb;
            transition: all 0.3s ease;
          }

          &::before{
            height: 0%;
            width: 2px;
          }

          &::after{
            width: 0%;
            height: 2px;
          }

          &:hover:before {
            height: 100%;
          }
          &:hover:after {
            width: 100%;
          }

          &:hover{
            background: transparent;
          }

          span{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;

            &:hover{
              color: #c797eb;

              &::before {
                height: 100%;
              }

              &::after {
                width: 100%;
              }
            }

            &::before,
            &::after {
              position: absolute;
              content: "";
              left: 0;
              top: 0;
              background: #c797eb;
            }

            &::before {
              width: 2px;
              height: 0%;
            }

            &::after {
              height: 2px;
              width: 0%;
            }
          }
        }
      }
    }
  }
}
