<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>privacy statement</title>

  <link rel="stylesheet" href="./privacy.css">
</head>

<body>
  <!-- common headers -->
  <header>

  </header>

  <!-- privacy content -->
  <div class="privacy-content">
    <div class="privacy-box">
      <div class="privacy-title">
        <h1 class="privacy-subtit">XXX Website COOKIES POLICY</h1>
        <p class="privacy-updated">Last updated:Sep 20,2022</p>
      </div>
      <div class="privacy-detail">
        <article>
          <h3>part1 content of title</h3>
          <p>privacy content text...</p>
          <p>privacy content text...</p>
          <p>privacy content text...</p>
        </article>
        <article>
          <h3>part1 content of title</h3>
          <ul>
            <li>
              <i class=""></i>
              <p>privacy content text...</p>
            </li>
            <li>
              <i class=""></i>
              <p>privacy content text...</p>
            </li>
            <li>
              <i class=""></i>
              <p>privacy content text...</p>
            </li>
            <li>
              <i class=""></i>
              <p>privacy content text...</p>
            </li>
            <li>
              <i class=""></i>
              <p>privacy content text...</p>
            </li>
            <li>
              <i class=""></i>
              <p>privacy content text...</p>
            </li>
          </ul>
          <p>privacy content text...</p>
          <p>privacy content text...</p>
        </article>
        <article>
          <h3>part1 content of title</h3>
          <table>
            <tr class="thead">
              <th>Company</th>
              <th>Address</th>
            </tr>

            <tr>
              <td>Apple, Inc.</td>
              <td>1 Infinite Loop Cupertino, CA 95014</td>
            </tr>
          </table>
        </article>
        <article>
          <h3>part1 content of title</h3>
          <p>privacy content text...</p>
          <p>privacy content text...</p>
          <p>privacy content text...</p>
        </article>
        <article>
          <h3>part1 content of title</h3>
          <ul>
            <li>
              <i class=""></i>
              <p>privacy content text...</p>
            </li>
            <li>
              <i class=""></i>
              <p>privacy content text...</p>
            </li>
            <li>
              <i class=""></i>
              <p>privacy content text...</p>
            </li>
            <li>
              <i class=""></i>
              <p>privacy content text...</p>
            </li>
            <li>
              <i class=""></i>
              <p>privacy content text...</p>
            </li>
            <li>
              <i class=""></i>
              <p>privacy content text...</p>
            </li>
          </ul>
          <p>privacy content text...</p>
          <p>privacy content text...</p>
        </article>
        <article>
          <h3>part1 content of title</h3>
          <table>
            <tr class="thead">
              <th>Company</th>
              <th>Address</th>
            </tr>

            <tr>
              <td>Apple, Inc.</td>
              <td>1 Infinite Loop Cupertino, CA 95014</td>
            </tr>
          </table>
        </article>
        <article>
          <img src="../assets/images/1.png" alt="img-description">
        </article>
      </div>
    </div>
  </div>

  <!-- common footer -->
  <footer>

  </footer>
</body>

</html>