/* background points */
@mixin pattern-dots-sm(){
  background-image: radial-gradient(currentColor .5px, transparent .5px);
  background-size: calc(10 * .5px) calc(10 * .5px);
  color: #2c2c2c !important;}/* mobile  */
@media screen and (max-width: 1024px){
  .privacy-content{
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    background: #000;
    box-shadow: 0px 0px 2.5px rgba(0, 0, 0, 0.12),0px 0px 7px rgba(0, 0, 0, 0.14),0px 0px 16.9px rgba(0, 0, 0, 0.15),0px 0px 56px rgba(0, 0, 0, 0.17);
    @include pattern-dots-sm();

    .privacy-box{
      margin: 0 auto;
      width: 100%;
      box-sizing: border-box;
      padding: 60px 30px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: column;

      .privacy-title{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        border-bottom: 1px solid rgba(255,255,255,.8);

        .privacy-subtit{
          margin: 0;
          font-size: 64px;
          line-height: 1.2;
          text-align: left;
          text-transform: uppercase;
          color: #fff;}.privacy-updated{
          font-size: 16px;
          line-height: 16px;
          text-align: left;
          color: rgba(255, 255, 255, .5);}}.privacy-detail{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;

        article{
          width: 100%;
          height: auto;
          margin-top: 40px;

          h3{
            font-size: 22px;
            line-height: 1.2;
            text-align: left;
            color: #fff;}p{
            font-size: 18px;
            line-height: 1.1;
            text-align: left;
            color: rgba(255, 255, 255, .7);}ul{
            padding: 0;

            li{
              list-style: none;
              display: flex;
              justify-content: flex-start;
              align-items: center;

              i{
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: #fff;
                margin-right: 10px;}p{
                font-size: 18px;
                line-height: 1.1;
                text-align: left;
                color: rgba(255, 255, 255, .7);}}}table{
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            color: rgba(255,255,255,0.6);
            margin: 40px auto 0;

            .thead {

              th{
                font-size: 18px;
                line-height: 1.1;
                font-weight: bold;
                text-align: center;
                color: rgba(255, 255, 255, .8);
                border: 1px solid rgba(255,255,255,0.6);
                padding: 10px;}}tr{
              td{
                font-size: 18px;
                line-height: 1.1;
                text-align: center;
                color: rgba(255, 255, 255, .6);
                border: 1px solid rgba(255,255,255,0.6);
                padding: 10px;}}}img{
            width: 100%;
            height: 100%;}}}}}}/* pc */
@media screen and (min-width: 1025px){
  .privacy-content{
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    background: #000;
    box-shadow: 0px 0px 2.5px rgba(0, 0, 0, 0.12),0px 0px 7px rgba(0, 0, 0, 0.14),0px 0px 16.9px rgba(0, 0, 0, 0.15),0px 0px 56px rgba(0, 0, 0, 0.17);
    @include pattern-dots-sm();

    .privacy-box{
      margin: 0 auto;
      max-width: 1800px;
      box-sizing: border-box;
      padding: 40px 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: column;

      .privacy-title{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        border-bottom: 1px solid rgba(255,255,255,.8);

        .privacy-subtit{
          margin: 0;
          font-size: 64px;
          line-height: 1.2;
          text-align: left;
          text-transform: uppercase;
          color: #fff;}.privacy-updated{
          font-size: 16px;
          line-height: 16px;
          text-align: left;
          color: rgba(255, 255, 255, .5);}}.privacy-detail{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;

        article{
          width: 100%;
          height: auto;
          margin-top: 40px;

          h3{
            font-size: 22px;
            line-height: 1.2;
            text-align: left;
            color: #fff;}p{
            font-size: 18px;
            line-height: 1.1;
            text-align: left;
            color: rgba(255, 255, 255, .7);}ul{
            padding: 0;

            li{
              list-style: none;
              display: flex;
              justify-content: flex-start;
              align-items: center;

              i{
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: #fff;
                margin-right: 10px;}p{
                font-size: 18px;
                line-height: 1.1;
                text-align: left;
                color: rgba(255, 255, 255, .7);}}}table{
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            color: rgba(255,255,255,0.6);
            margin: 40px auto 0;

            .thead {

              th{
                font-size: 18px;
                line-height: 1.1;
                font-weight: bold;
                text-align: center;
                color: rgba(255, 255, 255, .8);
                border: 1px solid rgba(255,255,255,0.6);
                padding: 10px;}}tr{
              td{
                font-size: 18px;
                line-height: 1.1;
                text-align: center;
                color: rgba(255, 255, 255, .6);
                border: 1px solid rgba(255,255,255,0.6);
                padding: 10px;}}}img{
            width: 100%;
            height: 100%;}}}}}}