<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>svg 动画</title>

  <style>
    .svg{
      height: 90vh;
      max-height: 300px;
      border: 1px solid #ccc;
      overflow: visible;
      background-color: rgb(102, 0, 128);
    }
  </style>
</head>
<body>
  <svg id="svg" class="svg" viewBox="0 0 100 100">
    <rect class="svg-box" fill="#28a92b" x="0" y="35" width="30" height="30" rx="2"></rect>
  </svg>


  <script src="../../src/assets/js/lab/gsap/gsap.min.js"></script>
  <script>
    gsap.to(".svg-box", {
      duration: 2,
      x: 100,
      xPercent: -100,
      attr: {
        fill: '#8d3dae',
        rx: 50,
      }
    })
  </script>
</body>
</html>