<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="./normalize.css"> -->
  <link rel="stylesheet" href="./provincial-and-urban.css">
  <title>provincial and urban</title>
</head>
<body>
  <!-- 所有城市的数据 -->
  <script src="./city.js"></script>
  <!-- 省市区三级联动下拉选择 -->
  <script src="./select-provincial-and-urban.js"></script>
</body>
</html>