.addr-form{
  position: relative;
  margin: 0 auto;
  width: 480px;
  height: auto;

  .prov-el,.city-el,.country-el,.full-el{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;

    label{
      max-width: 180px;
      width: 100%;
      font-size: 22px;
      color: #000;
      line-height: 32px;
      text-align: right;
      margin-right: 10px;
    }

    input{
      width: 360px;
      height: 32px;
      padding: 0 10px;
      border-radius: 6px;
      border: 1px solid rgb(0, 213, 241);
    }

    input[name='sex']{
      width: 32px;
      height: 32px;
    }

    select{
      width: 360px;
      height: 32px;
      padding: 0 10px;
      border-radius: 6px;
      border: 1px solid rgb(0, 213, 241);
    }
  }
}