/* pc */
@media screen and (min-width: 1025px) {
  .article-list{
    display: flex;
    justify-content: center;
    align-items: center;}.article-card {
    position: relative;
    overflow: hidden;
    max-width: 420px;
    min-height: 340px;
    border-radius: 4px;
    box-shadow: 0 10px 35px 2px rgba(0,0,0,.15),0 5px 15px rgba(0,0,0,.07),0 2px 5px -5px rgba(0,0,0,.1);
    transition: box-shadow .2s ease-in-out;
    
    /* 文章封面 */
    .article-link {
      display: block;
      position: relative;
      width: 100%;
      height: 220px;
      
      .article-card-cover {
        position: relative;
        background-color: #000;
        border-radius: 8px;
        width: 100%;
        height: 100%;}.article-responsive-img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;}.article-card-title {
        position: absolute;
        bottom: 12px;
        left: 0;
        z-index: 3;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 0px 12px;
        font-size: 30px;
        text-align: left;
        color: #fff;
        line-height: 1.2;
        font-weight: bold;}}/* 左上角文章状态 */
    .article-card-status{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 3;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .card-status-text{
        display: block;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 1.2;
        box-sizing: border-box;
        padding: 1px 6px;
        border-radius: 0 8px 0 8px;
        background: linear-gradient(45deg,#5c6fe6,#8899f5);
        display: block;
        margin-left: 8px;}}}.article-content {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 12px 12px;

    .article-card-text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-indent: 2em;
      width: 100%;
      max-height: 60px;
      font-size: 16px;
      line-height: 1.2;
      text-align: left;}.publish-info {
      margin: 10px auto 0;
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span{
        display: flex;
        justify-content: center;
        align-items: center;}.icon-date,.icon-view,.icon-author{
        display: block;
        width: 18px;
        height: 18px;}.publish-date {
        .icon-date {}.update-text{
          margin-left: 4px;
          font-size: 14px;
          line-height: 1.2;
          text-align: left;
          color: rgba(0, 0, 0, .6);}}.publish-view {
        .icon-view {}.view-text{
          margin-left: 4px;
          font-size: 14px;
          line-height: 1.2;
          text-align: left;
          color: rgba(0, 0, 0, .6);}}.publish-author {
        .icon-author {}.author-text {
          margin-left: 4px;
          font-size: 14px;
          line-height: 1.2;
          text-align: left;
          color: rgba(0, 0, 0, .6);
          text-decoration: none;}}}}/* tags */
  .article-tags {
    margin: 0px auto 20px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 12px;
    
    .article-tag-item {
      display: block;
      position: relative;
      text-decoration: none;
      margin-right: 6px;
      
      .tag-text {
        display: block;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 1.2;
        box-sizing: border-box;
        padding: 4px 8px;
        background: #017780;
        border-radius: 20px;}}}}/* mobile */
@media screen and (max-width: 1024px) {
  .article-card {
    position: relative;
    overflow: hidden;
    max-width: 420px;
    min-height: 340px;
    border-radius: 4px;
    box-shadow: 0 10px 35px 2px rgba(0,0,0,.15),0 5px 15px rgba(0,0,0,.07),0 2px 5px -5px rgba(0,0,0,.1);
    transition: box-shadow .2s ease-in-out;
    
    /* 文章封面 */
    .article-link {
      display: block;
      position: relative;
      width: 100%;
      height: 220px;
      
      .article-card-cover {
        position: relative;
        background-color: #000;
        border-radius: 8px;
        width: 100%;
        height: 100%;}.article-responsive-img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;}.article-card-title {
        position: absolute;
        bottom: 12px;
        left: 0;
        z-index: 3;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 0px 12px;
        font-size: 30px;
        text-align: left;
        color: #fff;
        line-height: 1.2;
        font-weight: bold;}}/* 左上角文章状态 */
    .article-card-status{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 3;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .card-status-text{
        display: block;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 1.2;
        box-sizing: border-box;
        padding: 1px 6px;
        border-radius: 0 8px 0 8px;
        background: linear-gradient(45deg,#5c6fe6,#8899f5);
        display: block;
        margin-left: 8px;}}}.article-content {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 12px 12px;

    .article-card-text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-indent: 2em;
      width: 100%;
      max-height: 60px;
      font-size: 16px;
      line-height: 1.2;
      text-align: left;}.publish-info {
      margin: 10px auto 0;
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span{
        display: flex;
        justify-content: center;
        align-items: center;}.icon-date,.icon-view,.icon-author{
        display: block;
        width: 18px;
        height: 18px;}.publish-date {
        .icon-date {}.update-text{
          margin-left: 4px;
          font-size: 14px;
          line-height: 1.2;
          text-align: left;
          color: rgba(0, 0, 0, .6);}}.publish-view {
        .icon-view {}.view-text{
          margin-left: 4px;
          font-size: 14px;
          line-height: 1.2;
          text-align: left;
          color: rgba(0, 0, 0, .6);}}.publish-author {
        .icon-author {}.author-text {
          margin-left: 4px;
          font-size: 14px;
          line-height: 1.2;
          text-align: left;
          color: rgba(0, 0, 0, .6);
          text-decoration: none;}}}}/* tags */
  .article-tags {
    margin: 0px auto 20px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 12px;
    
    .article-tag-item {
      display: block;
      position: relative;
      text-decoration: none;
      margin-right: 6px;
      
      .tag-text {
        display: block;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 1.2;
        box-sizing: border-box;
        padding: 4px 8px;
        background: #017780;
        border-radius: 20px;}}}}