<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lazyload img</title>
</head>
<body>
  <img data-src="../../assets/illustration-01.png" class="lazy" alt="Image description">
  <img data-src="../../assets/illustration-02.png" class="lazy" alt="Image description">
  <img data-src="../../assets/illustration-03.png" class="lazy" alt="Image description">
  <img data-src="../../assets/illustration-04.png" class="lazy" alt="Image description">
  <img data-src="../../assets/illustration-01.png" class="lazy" alt="Image description">
  <img data-src="../../assets/illustration-02.png" class="lazy" alt="Image description">
  <img data-src="../../assets/illustration-03.png" class="lazy" alt="Image description">
  <img data-src="../../assets/illustration-04.png" class="lazy" alt="Image description">
  <script src="./lazyload.js"></script>
</body>
</html>