<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>video js demo</title>
</head>
<body>
  <div class="data-vjs-player">
    <!-- type1-- via data-setup -->
    <video id="vid1" class="video-js" data-setup="{}">
      <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
      <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
    </video>
    <!-- <video id="vid1" class="video-js" data-setup='{"controls": true, "autoplay": false, "preload": "auto"}'></video> -->
  </div>

  <!-- type2-- video-js embed -->
  <video-js id="vid2" class="video-js" data-setup="{}">
    <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
    <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
  </video-js>


  <script>
    // type 1 
    // 若在video标签中的data-setup属性中配置了controls，autoplay和preload等属性，这此js中的参数不需要配置；即二选一
    const player = videojs('vid1', {
      controls: true,
      autoplay: false,
      preload: 'auto'
    });
    // or the videojs function accepts a DOM element instead
    // const player = videojs(document.querySelector('vid1'));
    // 传递一个回调函数给player的ready()方法
    player.ready(function() {
      this.addClass('my-example');
    });


    // type 2
    const jsplayer = videojs('vid2', {
      controls: true,
      autoplay: false,
      preload: 'auto'
    });
    // or the videojs function accepts a DOM element instead
    // const jsplayer = videojs(document.querySelector('vid2'));
  </script>
</body>
</html>