<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>video js demo</title>
</head>
<body>
  <div class="data-vjs-player">
    <!-- type1-- via data-setup -->
    <video id="vid1" class="video-js" data-setup="{}">
      <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
      <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
    </video>
  </div>

  <!-- type2-- video-js embed -->
  <video-js id="vid2" data-setup="{}">
    <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
  </video-js>


  <script>
    // type 1
    const player = videojs('vid1', {});
    // type 2
    const jsplayer = videojs('vid2', {});
  </script>
</body>
</html>