.dc-city-selector {
  width: 100%;
  min-width: 280px;
  margin: 0 auto;
  font-family: system-ui, -apple-system, sans-serif;

  .dc-city-selects {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;

    select {
      flex: 1;
      padding: 8px 16px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 14px;
      outline: none;
      width: 100%;

      &::-webkit-scrollbar {
        width: 8px;
        background-color: #f5f5f5;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #ccc;
      }
      
      &::-webkit-scrollbar-thumb:hover {
        background-color: #000000;
      }
      
      &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: #f5f5f5;
      }

      &:disabled {
        background: #f5f5f5;
        cursor: not-allowed;
        color: #999;
      }
      
      &:focus {
        border-color: #666;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
      }

      option {
        padding: 8px 16px;
        color: #000;
        background: #fff;

        &:hover,&:focus {
          background: #fca607;
          color: #616161;
        }
      }
    }
  }

  .dc-street-input {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    outline: none;

    &:focus {
      border-color: #666;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    }
  }
}

@media screen and (max-width: 1024px) {
  .dc-city-selector {
    .dc-city-selects {
  
      select {
        padding: 8px 14px;
      }
    }
  }
}
