<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="buttons-hover.css">
  <title>buttons hover with css</title>
</head>

<body>
  <!-- 1-5 -->
  <!-- 下滑填充 -->
  <button class="btn btn1 hover-filled-slide-down">
    <span class="btn-text">button text</span>
  </button>
  <!-- 上滑填充 -->
  <button class="btn btn2 hover-filled-slide-up">
    <span class="btn-text">button text</span>
  </button>
  <!-- 左滑填充 -->
  <button class="btn btn3 hover-filled-slide-left">
    <span class="btn-text">button text</span>
  </button>
  <!-- 右滑填充 -->
  <button class="btn btn4 hover-filled-slide-right">
    <span class="btn-text">button text</span>
  </button>
  <!-- 填充透明度 -->
  <button class="btn btn5 hover-filled-opacity">
    <span class="btn-text">button text</span>
  </button>

  <!-- 6-10 -->
  <!-- 往下滑 -->
  <button class="btn btn6 hover-slide-down">
    <span class="btn-text">button text</span>
  </button>
  <!-- 往上滑 -->
  <button class="btn btn7 hover-slide-up">
    <span class="btn-text">button text</span>
  </button>
  <!-- 往左滑 -->
  <button class="btn btn8 hover-slide-left">
    <span class="btn-text">button text</span>
  </button>
  <!-- 往右滑 -->
  <button class="btn btn9 hover-slide-right">
    <span class="btn-text">button text</span>
  </button>
  <!-- 排除不透明度 -->
  <button class="btn btn10 hover-opacity">
    <span class="btn-text">button text</span>
  </button>

  <!-- 11-15 -->
  <!-- 左上和右下往右下和左上 -->
  <button class="btn btn11 hover-border-tl-and-br">
    <span class="btn-text">button text</span>
  </button>
  <!-- 右上和左下往下左和上右 -->
  <button class="btn btn12 hover-border-tr-and-lb">
    <span class="btn-text">button text</span>
  </button>
  <!-- 闭合 -->
  <button class="btn btn13 hover-border-closed-path">
    <span class="btn-text">button text</span>
  </button>
  <!-- 顺时针闭合 -->
  <button class="btn btn14 hover-border-cw">
    <span class="btn-text">button text</span>
  </button>
  <!-- 逆时针闭合 -->
  <button class="btn btn15 hover-border-ccw">
    <span class="btn-text">button text</span>
  </button>

  <!-- 16-20 -->
  <!-- 从顶部中间往下面中间闭合 -->
  <button class="btn btn16 hover-border-top-center">
    <span class="btn-text">button text</span>
  </button>
  <!-- 从底部中间往顶部中间闭合 -->
  <button class="btn btn17 hover-border-bottom-center">
    <span class="btn-text">button text</span>
  </button>
  <!-- 底部中间往左上 -->
  <button class="btn btn18 hover-border-bc-to-lt">
    <span class="btn-text">button text</span>
  </button>
  <!-- 底部中间往右上 -->
  <button class="btn btn19 hover-border-bc-to-rt">
    <span class="btn-text">button text</span>
  </button>
  <!-- 左中往右下 -->
  <button class="btn btn20 hover-border-lc-to-rb">
    <span class="btn-text">button text</span>
  </button>

  <!-- 21 -->
  <!-- 颜色变换右上->右下->左下->左上->右上 -->
  <button class="btn btn21 hover-border-color-change">
    <span class="btn-text">button text</span>
  </button>
</body>

</html>