@charset "utf-8";
// reset for website

[data-theme=light-theme] { --color-primary-border: #fdf9f5; --color-primary: #fdf9f5; --color-primary-font: #000; --color-primary-bg: #fdf9f5; --bg-inherit: inherit; --bg-current: #64748b; --bg-transparent: transparent; --bg-black: black; --bg-white: white; --bg-theme-50: #fafafa; --bg-theme-100: #f4f4f5; --bg-theme-200: #e4e4e7; --bg-theme-300: #d4d4d8; --bg-theme-400: #a1a1aa; --bg-theme-500: #71717a; --bg-theme-600: #52525b; --bg-theme-700: #3f3f46; --bg-theme-800: #27272a; --bg-theme-900: #18181b; --bg-theme-950: #09090b; --font-theme-50: #fafafa; --font-theme-100: #f0f0f0; --font-theme-200: gainsboro; --font-theme-300: #c8c8c8; --font-theme-400: #b4b4b4; --font-theme-500: #a0a0a0; --font-theme-600: #8c8c8c; --font-theme-700: #787878; --font-theme-800: #646464; --font-theme-900: #505050; --font-theme-950: #3c3c3c; --bg-theme-gradient: linear-gradient(to left, #FFFFFF, #FFEFBA); }
[data-theme=dark-theme] { --color-primary-border: #030303; --color-primary: #030303; --color-primary-font: #fff; --color-primary-bg: #030303; --bg-inherit: inherit; --bg-current: #64748b; --bg-transparent: transparent; --bg-black: black; --bg-white: white; --bg-theme-50: #fafafa; --bg-theme-100: whitesmoke; --bg-theme-200: #e5e5e5; --bg-theme-300: #d4d4d4; --bg-theme-400: #a3a3a3; --bg-theme-500: #737373; --bg-theme-600: #525252; --bg-theme-700: #404040; --bg-theme-800: #262626; --bg-theme-900: #171717; --bg-theme-950: #0a0a0a; --font-theme-50: #fafafa; --font-theme-100: #f5f5f5; --font-theme-200: #e5e5e5; --font-theme-300: #d4d4d4; --font-theme-400: #a3a3a3; --font-theme-500: #737373; --font-theme-600: #525252; --font-theme-700: #404040; --font-theme-800: #262626; --font-theme-900: #171717; --font-theme-950: #0a0a0a; --bg-theme-gradient: linear-gradient(to left, #000000, #434343); }
[data-theme=grey-theme] { --color-primary-border: #323535; --color-primary: #323535; --color-primary-font: #323535; --color-primary-bg: #323535; --bg-inherit: inherit; --bg-current: #64748b; --bg-transparent: transparent; --bg-black: black; --bg-white: white; --bg-theme-50: #f9fafb; --bg-theme-100: #f3f4f6; --bg-theme-200: #e5e7eb; --bg-theme-300: #d1d5db; --bg-theme-400: #9ca3af; --bg-theme-500: #6b7280; --bg-theme-600: #4b5563; --bg-theme-700: #374151; --bg-theme-800: #1f2937; --bg-theme-900: #111827; --bg-theme-950: #030712; --font-theme-50: #f9fafb; --font-theme-100: #f3f4f6; --font-theme-200: #e5e7eb; --font-theme-300: #d1d5db; --font-theme-400: #9ca3af; --font-theme-500: #6b7280; --font-theme-600: #4b5563; --font-theme-700: #374151; --font-theme-800: #1f2937; --font-theme-900: #111827; --font-theme-950: #030712; --bg-theme-gradient: linear-gradient(to left, #232526, #414345); }
[data-theme=red-theme] { --color-primary-border: #ff0000; --color-primary: #ff0000; --color-primary-font: #ff0000; --color-primary-bg: #ff0000; --bg-inherit: inherit; --bg-current: #64748b; --bg-transparent: transparent; --bg-black: black; --bg-white: white; --bg-theme-50: #fef2f2; --bg-theme-100: #fee2e2; --bg-theme-200: #fecaca; --bg-theme-300: #fca5a5; --bg-theme-400: #f87171; --bg-theme-500: #ef4444; --bg-theme-600: #dc2626; --bg-theme-700: #b91c1c; --bg-theme-800: #991b1b; --bg-theme-900: #7f1d1d; --bg-theme-950: #450a0a; --font-theme-50: #fef2f2; --font-theme-100: #fee2e2; --font-theme-200: #fecaca; --font-theme-300: #fca5a5; --font-theme-400: #f87171; --font-theme-500: #ef4444; --font-theme-600: #dc2626; --font-theme-700: #b91c1c; --font-theme-800: #991b1b; --font-theme-900: #7f1d1d; --font-theme-950: #450a0a; --bg-theme-gradient: linear-gradient(to left, #d31027, #ea384d); }
[data-theme=pink-theme] { --color-primary-border: #ff006a; --color-primary: #ff006a; --color-primary-font: #ff006a; --color-primary-bg: #ff006a; --bg-inherit: inherit; --bg-current: #64748b; --bg-transparent: transparent; --bg-black: black; --bg-white: white; --bg-theme-50: #fdf2f8; --bg-theme-100: #fce7f3; --bg-theme-200: #fbcfe8; --bg-theme-300: #f9a8d4; --bg-theme-400: #f472b6; --bg-theme-500: #ec4899; --bg-theme-600: #db2777; --bg-theme-700: #be185d; --bg-theme-800: #9d174d; --bg-theme-900: #831843; --bg-theme-950: #500724; --font-theme-50: #fdf2f8; --font-theme-100: #ffe4e6; --font-theme-200: #fecdd3; --font-theme-300: #fda4af; --font-theme-400: #fb7185; --font-theme-500: #f43f5e; --font-theme-600: #e11d48; --font-theme-700: #be123c; --font-theme-800: #9f1239; --font-theme-900: #881337; --font-theme-950: #4c0519; --bg-theme-gradient: linear-gradient(to left, #ec008c, #fc6767); }
[data-theme=orange-theme] { --color-primary-border: #fa7900; --color-primary: #fa7900; --color-primary-font: #fa7900; --color-primary-bg: #fa7900; --bg-inherit: inherit; --bg-current: #64748b; --bg-transparent: transparent; --bg-black: black; --bg-white: white; --bg-theme-50: #fff7ed; --bg-theme-100: #ffedd5; --bg-theme-200: #fed7aa; --bg-theme-300: #fdba74; --bg-theme-400: #fb923c; --bg-theme-500: #f97316; --bg-theme-600: #ea580c; --bg-theme-700: #c2410c; --bg-theme-800: #9a3412; --bg-theme-900: #7c2d12; --bg-theme-950: #431407; --font-theme-50: #fff7ed; --font-theme-100: #ffedd5; --font-theme-200: #fed7aa; --font-theme-300: #fdba74; --font-theme-400: #fb923c; --font-theme-500: #f97316; --font-theme-600: #ea580c; --font-theme-700: #c2410c; --font-theme-800: #9a3412; --font-theme-900: #7c2d12; --font-theme-950: #431407; --bg-theme-gradient: linear-gradient(to left, #ff8008, #ffc837); }
[data-theme=yellow-theme] { --color-primary-border: #faf600; --color-primary: #faf600; --color-primary-font: #faf600; --color-primary-bg: #faf600; --bg-inherit: inherit; --bg-current: #64748b; --bg-transparent: transparent; --bg-black: black; --bg-white: white; --bg-theme-50: #fefce8; --bg-theme-100: #fef9c3; --bg-theme-200: #fef08a; --bg-theme-300: #fde047; --bg-theme-400: #facc15; --bg-theme-500: #eab308; --bg-theme-600: #ca8a04; --bg-theme-700: #a16207; --bg-theme-800: #854d0e; --bg-theme-900: #713f12; --bg-theme-950: #422006; --font-theme-50: #fefce8; --font-theme-100: #fef9c3; --font-theme-200: #fef08a; --font-theme-300: #fde047; --font-theme-400: #facc15; --font-theme-500: #eab308; --font-theme-600: #ca8a04; --font-theme-700: #a16207; --font-theme-800: #854d0e; --font-theme-900: #713f12; --font-theme-950: #422006; --bg-theme-gradient: linear-gradient(to left, #f7971e, #ffd200); }
[data-theme=green-theme] { --color-primary-border: #03fa41; --color-primary: #03fa41; --color-primary-font: #03fa41; --color-primary-bg: #03fa41; --bg-inherit: inherit; --bg-current: #64748b; --bg-transparent: transparent; --bg-black: black; --bg-white: white; --bg-theme-50: #f0fdf4; --bg-theme-100: #dcfce7; --bg-theme-200: #bbf7d0; --bg-theme-300: #86efac; --bg-theme-400: #4ade80; --bg-theme-500: #22c55e; --bg-theme-600: #16a34a; --bg-theme-700: #15803d; --bg-theme-800: #166534; --bg-theme-900: #14532d; --bg-theme-950: #052e16; --font-theme-50: #f0fdf4; --font-theme-100: #dcfce7; --font-theme-200: #bbf7d0; --font-theme-300: #86efac; --font-theme-400: #4ade80; --font-theme-500: #22c55e; --font-theme-600: #16a34a; --font-theme-700: #15803d; --font-theme-800: #166534; --font-theme-900: #14532d; --font-theme-950: #052e16; --bg-theme-gradient: linear-gradient(to left, #56ab2f, #a8e063); }
[data-theme=indigo-theme] { --color-primary-border: #03f7ff; --color-primary: #03f7ff; --color-primary-font: #03f7ff; --color-primary-bg: #03f7ff; --bg-inherit: inherit; --bg-current: #64748b; --bg-transparent: transparent; --bg-black: black; --bg-white: white; --bg-theme-50: #f0fdfa; --bg-theme-100: #ccfbf1; --bg-theme-200: #99f6e4; --bg-theme-300: #5eead4; --bg-theme-400: #2dd4bf; --bg-theme-500: #14b8a6; --bg-theme-600: #0d9488; --bg-theme-700: #0f766e; --bg-theme-800: #115e59; --bg-theme-900: #134e4a; --bg-theme-950: #042f2e; --font-theme-50: #ecfeff; --font-theme-100: #cffafe; --font-theme-200: #a5f3fc; --font-theme-300: #67e8f9; --font-theme-400: #22d3ee; --font-theme-500: #06b6d4; --font-theme-600: #0891b2; --font-theme-700: #0e7490; --font-theme-800: #155e75; --font-theme-900: #164e63; --font-theme-950: #083344; --bg-theme-gradient: linear-gradient(to left, #00c9ff, #92fe9d); }
[data-theme=blue-theme] { --color-primary-border: #0905f3; --color-primary: #0905f3; --color-primary-font: #0905f3; --color-primary-bg: #0905f3; --bg-inherit: inherit; --bg-current: #64748b; --bg-transparent: transparent; --bg-black: black; --bg-white: white; --bg-theme-50: #eff6ff; --bg-theme-100: #dbeafe; --bg-theme-200: #bfdbfe; --bg-theme-300: #93c5fd; --bg-theme-400: #60a5fa; --bg-theme-500: #3b82f6; --bg-theme-600: #2563eb; --bg-theme-700: #1d4ed8; --bg-theme-800: #1e40af; --bg-theme-900: #1e3a8a; --bg-theme-950: #172554; --font-theme-50: #eff6ff; --font-theme-100: #dbeafe; --font-theme-200: #bfdbfe; --font-theme-300: #93c5fd; --font-theme-400: #60a5fa; --font-theme-500: #3b82f6; --font-theme-600: #2563eb; --font-theme-700: #1d4ed8; --font-theme-800: #1e40af; --font-theme-900: #1e3a8a; --font-theme-950: #172554; --bg-theme-gradient: linear-gradient(to left, #005c97, #363795); }
[data-theme=purple-theme] { --color-primary-border: #ff00ea; --color-primary: #ff00ea; --color-primary-font: #ff00ea; --color-primary-bg: #ff00ea; --bg-inherit: inherit; --bg-current: #64748b; --bg-transparent: transparent; --bg-black: black; --bg-white: white; --bg-theme-50: #fdf4ff; --bg-theme-100: #fae8ff; --bg-theme-200: #f5d0fe; --bg-theme-300: #f0abfc; --bg-theme-400: #e879f9; --bg-theme-500: #d946ef; --bg-theme-600: #c026d3; --bg-theme-700: #a21caf; --bg-theme-800: #86198f; --bg-theme-900: #701a75; --bg-theme-950: #4a044e; --font-theme-50: #faf5ff; --font-theme-100: #f3e8ff; --font-theme-200: #e9d5ff; --font-theme-300: #d8b4fe; --font-theme-400: #c084fc; --font-theme-500: #a855f7; --font-theme-600: #9333ea; --font-theme-700: #7e22ce; --font-theme-800: #6b21a8; --font-theme-900: #581c87; --font-theme-950: #3b0764; --bg-theme-gradient: linear-gradient(to left, #9d50bb, #6e48aa); }
[data-theme=colorful-theme] { --color-primary-border: #f5ce62; --color-primary: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d); --color-primary-font: #fff; --color-primary-bg: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d); --bg-inherit: inherit; --bg-current: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d); --bg-transparent: transparent; --bg-black: black; --bg-white: white; --bg-theme-50: linear-gradient(to left, #f7fee7, #fffbeb, #fff1f2); --bg-theme-100: linear-gradient(to left, #ecfccb, #fef3c7, #ffe4e6); --bg-theme-200: linear-gradient(to left, #d9f99d, #fde68a, #fecdd3); --bg-theme-300: linear-gradient(to left, #bef264, #fcd34d, #fda4af); --bg-theme-400: linear-gradient(to left, #a3e635, #fbbf24, #fb7185); --bg-theme-500: linear-gradient(to left, #84cc16, #f59e0b, #f43f5e); --bg-theme-600: linear-gradient(to left, #65a30d, #d97706, #e11d48); --bg-theme-700: linear-gradient(to left, #4d7c0f, #b45309, #be123c); --bg-theme-800: linear-gradient(to left, #3f6212, #92400e, #9f1239); --bg-theme-900: linear-gradient(to left, #365314, #78350f, #881337); --bg-theme-950: linear-gradient(to left, #1a2e05, #451a03, #4c0519); --font-theme-50: #fafaf9; --font-theme-100: #f5f5f4; --font-theme-200: #e7e5e4; --font-theme-300: #d6d3d1; --font-theme-400: #a8a29e; --font-theme-500: #78716c; --font-theme-600: #57534e; --font-theme-700: #44403c; --font-theme-800: #292524; --font-theme-900: #1c1917; --font-theme-950: #0c0a09; --bg-theme-gradient: linear-gradient(to left, #c9ffbf, #ffafbd); }
[data-theme=colorful-theme] .gradient-text { background: var(--color-primary); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }


.dc-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 0 40px;
  background: var(--bg-theme-50);
  display: flex;
  align-items: center;
  z-index: 1000;

  // Logo
  .dc-header-logo {
    min-width: 220px;
    margin-right: 40px;

    .dc-header-logo-link{
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  // 导航菜单
  .dc-header-nav {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;

    .dc-header-menu {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
      height: 100%;

      .dc-menu-item {
        position: relative;
        margin: 0;
        min-width: 120px;
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
          color: var(--font-theme-700);
          border-bottom: 2px solid var(--bg-theme-700);
        }

        &:not(:last-child) {
          margin-right: 20px;
        }

        &.has-submenu{

          &:hover .dc-submenu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }

        .dc-menu-link {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--font-theme-950);
          text-decoration: none;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
          line-height: 1.2;
          transition: color 0.3s;

          .icon_chevron_down {
            width: 24px;
            height: 24px;
            margin-left: 4px;
            vertical-align: middle;

            .chevron-line {
              transition: all 0.3s ease;
            }
          }

          &:hover {
            color: var(--font-theme-700);
          }
        }

        .dc-submenu {
          position: absolute;
          top: 100%;
          left: 0;
          min-width: 200px;
          background: var(--bg-theme-50);
          border-radius: 8px;
          box-shadow: 0 2px 8px var(--bg-theme-950);
          opacity: 0;
          visibility: hidden;
          transform: translateY(20px);
          transition: all 0.3s;
          z-index: 300;

          &.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }

          .dc-submenu-content {
            position: relative;
            box-sizing: border-box;
            padding: 8px 0;

            .dc-submenu-item {
              display: block;
              padding: 8px 16px;
              color: var(--font-theme-900);
              text-decoration: none;
              transition: background-color 0.3s;

              &:hover {
                background: var(--bg-theme-300);
              }

              .dc-submenu-title {
                font-size: 18px;
                text-align: left;
                color: var(--font-theme-900);
                line-height: 1.2;
              }

              .dc-submenu-desc {
                font-size: 16px;
                text-align: left;
                line-height: 1.2;
                width: 80%;
                color: var(--font-theme-600);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }

    // 汉堡菜单按钮 - 默认隐藏
    .header-menu-toggle {
      display: none;
      cursor: pointer;

      .icon_menu {
        margin: 0 auto;
        width: 24px;
        height: 24px;

        .menu-line {
          transition: all 0.3s ease;
        }
      }

      &.active {
        .icon_menu {
          .menu-line-2 {
            opacity: 0;
          }
        }
      }
    }
  }

  // 用户区域
  .dc-header-user {
    display: flex;
    align-items: center;
    gap: 16px;

    .dc-search{
      position: relative;

      .dc-search-btn{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--bg-theme-100);
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: var(--bg-theme-600);
        border: none;
        background: transparent;
        cursor: pointer;

        .icon_search{
          display: block;
          width: 24px;
          height: 24px;
        }
      }

      .dc-search-panel{
        display: none;

        &.active{
          display: block;
          width: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background: var(--bg-theme-50);
          z-index: 1000;
          width: 100%;
          height: 80px;
          box-sizing: border-box;
          padding: 0 40px;
          animation: fadeIn 0.3s ease-in-out;
        }

        .search-form{
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .search-input-wrap{
            position: relative;
            width: 824px;
            margin-right: 12px;

            .icon_search{
              display: block;
              width: 24px;
              height: 24px;
              position: absolute;
              right: 1px;
              top: 50%;
              transform: translateY(-50%);
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              padding: 7px;
              border-radius: 50%;
              background: var(--bg-theme-50);

              path{
                fill: var(--font-theme-50);
                // stroke: var(--font-theme-50);
              }
            }

            .search-input{
              width: 100%;
              height: 40px;
              border-radius: 50px;
              background: var(--bg-theme-100);
              border: 1px solid var(--bg-theme-600);
              box-sizing: border-box;
              padding: 0 16px;
              font-size: 16px;
              color: var(--font-theme-900);
              text-align: left;
              line-height: 1.2;
              outline: none;
              transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
            }
          }

          .search-btn-close{
            border: none;
            background: none;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon_close{
              display: block;
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }

    .dc-auth{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .dc-btn{
        display: block;
        max-width: 120px;
        font-size: 18px;
        text-align: left;
        line-height: 1.2;
        width: 80%;
        color: var(--font-theme-50);
        text-decoration: none;
        position: relative;
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 8px;
        box-shadow: inset 0 0 0 1px color(var(--bg-theme-50), alpha(0.1));
        background: radial-gradient(ellipse at bottom, var(--bg-theme-500) 0%, var(--bg-theme-950) 45%);
        transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);

        &::before {
          content: "";
          width: 70%;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 15%;
          background: var(--bg-theme-50);
          background: linear-gradient( 90deg, transparent 0%, var(--bg-theme-50) 50%, transparent 100%);
          opacity: 0.2;
          transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
        }

        &:hover {
          color: var(--font-theme-50);
          transform: scale(1.1) translateY(-3px);
        }

        &:hover::before {
          opacity: 1;
        }
      }

      .dc-btn-text{

      }

      .dc-btn-primary{
        margin-left: 12px;
      }
    }
  }
}

// 移动端样式
@media screen and (max-width: 1024px) {
  .dc-header {
    padding: 0 20px;

    .dc-header-logo {
      min-width: 80px;
      width: 120px;
      margin-right: 20px;
    }

    .dc-header-nav {
      .header-menu-toggle {
        display: block;
        margin-left: auto;
        width: 24px;
        height: 24px;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;

        .icon_menu {
          margin: 0 auto;
          width: 24px;
          height: 24px;

          .menu-line {
            transition: all 0.3s ease;
          }
        }

        &.active {
          .icon_menu {
            .menu-line-2 {
              opacity: 0;
            }
          }
        }
      }

      .dc-header-menu {
        position: fixed;
        top: 80px;
        left: 0;
        z-index: 999;
        width: 100%;
        height: calc(100vh - 80px);
        background: var(--bg-theme-50);
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 20px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        overflow-y: auto;

        &.active {
          transform: translateX(0);
        }

        .dc-menu-item {
          width: 100%;
          height: auto;
          margin: 0;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: wrap;
          flex-direction: column;

          &:not(:last-child) {
            margin-right: 0;
          }

          &:hover{
            border-bottom: none;
          }

          .dc-menu-link {
            padding: 12px 0;
            width: 100%;
            height: auto;
            justify-content: space-between;
          }

          &.has-submenu{

            &:hover .dc-submenu {
              transform: none;
            }
          }

          .dc-submenu {
            position: static;
            min-width: auto;
            width: 100%;
            opacity: 1;
            visibility: visible;
            transform: none;
            box-shadow: none;
            display: none;

            &.active {
              display: block;
            }

            .dc-submenu-content {
              padding: 0;

              .dc-submenu-item {
                padding: 0 0 12px;
              }
            }
          }
        }
      }
    }

    .dc-header-user {
      margin-left: 12px;
      gap: 12px;

      .dc-search{
        .dc-search-btn{
          width: 24px;
          height: 24px;
          padding: 0;
          border: none;
        }
      }

      .dc-auth{
        .dc-btn{
          font-size: 16px;
          padding: 4px 8px;
          max-width: fit-content;
        }
      }
    }
  }
}

// 动画关键帧
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}