@charset "utf-8";

.dc-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 0 40px;
  background: var(--bg-theme-50);
  display: flex;
  align-items: center;
  z-index: 1000;

  // Logo
  .dc-header-logo {
    min-width: 220px;
    margin-right: 40px;

    .dc-header-logo-link{
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  // 导航菜单
  .dc-header-nav {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;

    .dc-header-menu {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
      height: 100%;

      .dc-menu-item {
        position: relative;
        margin: 0;
        min-width: 120px;
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
          color: var(--font-theme-700);
          border-bottom: 2px solid var(--bg-theme-700);
        }

        &:not(:last-child) {
          margin-right: 20px;
        }

        &.has-submenu{

          &:hover .dc-submenu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }

        .dc-menu-link {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--font-theme-950);
          text-decoration: none;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
          line-height: 1.2;
          transition: color 0.3s;

          .icon_chevron_down {
            width: 24px;
            height: 24px;
            margin-left: 4px;
            vertical-align: middle;

            .chevron-line {
              transition: all 0.3s ease;
            }
          }

          &:hover {
            color: var(--font-theme-700);
          }
        }

        .dc-submenu {
          position: absolute;
          top: 100%;
          left: 0;
          min-width: 200px;
          background: var(--bg-theme-50);
          border-radius: 8px;
          box-shadow: 0 2px 8px var(--bg-theme-950);
          opacity: 0;
          visibility: hidden;
          transform: translateY(20px);
          transition: all 0.3s;
          z-index: 300;

          &.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }

          .dc-submenu-content {
            position: relative;
            box-sizing: border-box;
            padding: 8px 0;

            .dc-submenu-item {
              display: block;
              padding: 8px 16px;
              color: var(--font-theme-900);
              text-decoration: none;
              transition: background-color 0.3s;

              &:hover {
                background: var(--bg-theme-300);
              }

              .dc-submenu-title {
                font-size: 18px;
                text-align: left;
                color: var(--font-theme-900);
                line-height: 1.2;
              }

              .dc-submenu-desc {
                font-size: 16px;
                text-align: left;
                line-height: 1.2;
                width: 80%;
                color: var(--font-theme-600);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }

    // 汉堡菜单按钮 - 默认隐藏
    .header-menu-toggle {
      display: none;
      cursor: pointer;

      .icon_menu {
        margin: 0 auto;
        width: 24px;
        height: 24px;

        .menu-line {
          transition: all 0.3s ease;
        }
      }

      &.active {
        .icon_menu {
          .menu-line-2 {
            opacity: 0;
          }
        }
      }
    }
  }

  // 用户区域
  .dc-header-user {
    display: flex;
    align-items: center;
    gap: 16px;

    .dc-search{
      position: relative;

      .dc-search-btn{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--bg-theme-100);
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: var(--bg-theme-600);
        border: none;
        background: transparent;
        cursor: pointer;

        .icon_search{
          display: block;
          width: 24px;
          height: 24px;
        }
      }

      .dc-search-panel{
        display: none;

        &.active{
          display: block;
          width: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background: var(--bg-theme-50);
          z-index: 1000;
          width: 100%;
          height: 80px;
          box-sizing: border-box;
          padding: 0 40px;
          animation: fadeIn 0.3s ease-in-out;
        }

        .search-form{
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .search-input-wrap{
            position: relative;
            width: 824px;
            margin-right: 12px;

            .icon_search{
              display: block;
              width: 24px;
              height: 24px;
              position: absolute;
              right: 1px;
              top: 50%;
              transform: translateY(-50%);
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              padding: 7px;
              border-radius: 50%;
              background: var(--bg-theme-50);

              path{
                fill: var(--font-theme-50);
                // stroke: var(--font-theme-50);
              }
            }

            .search-input{
              width: 100%;
              height: 40px;
              border-radius: 50px;
              background: var(--bg-theme-100);
              border: 1px solid var(--bg-theme-600);
              box-sizing: border-box;
              padding: 0 16px;
              font-size: 16px;
              color: var(--font-theme-900);
              text-align: left;
              line-height: 1.2;
              outline: none;
              transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
            }
          }

          .search-btn-close{
            border: none;
            background: none;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon_close{
              display: block;
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }

    .dc-auth{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .dc-btn{
        display: block;
        max-width: 120px;
        font-size: 18px;
        text-align: left;
        line-height: 1.2;
        width: 80%;
        color: var(--font-theme-50);
        text-decoration: none;
        position: relative;
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 8px;
        box-shadow: inset 0 0 0 1px color(var(--bg-theme-50), alpha(0.1));
        background: radial-gradient(ellipse at bottom, var(--bg-theme-500) 0%, var(--bg-theme-950) 45%);
        transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);

        &::before {
          content: "";
          width: 70%;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 15%;
          background: var(--bg-theme-50);
          background: linear-gradient( 90deg, transparent 0%, var(--bg-theme-50) 50%, transparent 100%);
          opacity: 0.2;
          transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
        }

        &:hover {
          color: var(--font-theme-50);
          transform: scale(1.1) translateY(-3px);
        }

        &:hover::before {
          opacity: 1;
        }
      }

      .dc-btn-text{

      }

      .dc-btn-primary{
        margin-left: 12px;
      }
    }

    .dc-user{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .dc-user-avatar{
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        background: var(--bg-theme-100);
        padding: 0;

        img{
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .dc-user-dropdown{
        position: absolute;
        top: 100%;
        right: 0;
        width: 300px;
        background: var(--bg-theme-50);
        border-radius: 8px;
        box-shadow: 0 2px 8px var(--bg-theme-950);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.3s ease-in-out;
        z-index: 300;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        box-sizing: border-box;
        padding: 18px 24px;

        &.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(20px);
        }

        .dc-user-avatar-info{
          position: relative;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-wrap: wrap;
          flex-direction: column;
          gap: 12px;
          width: 100%;

          .dc-user-name{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 20px;
            font-weight: bold;
            color: var(--font-theme-900);
            text-align: center;
            line-height: 1.2;

            .dc-user-name-text{
              color: var(--font-theme-400);
            }

            .dc-user-name-num{
              margin-left: 8px;
            }
          }

          .dc-user-level,.dc-user-coins{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 16px;
            color: var(--font-theme-600);
            text-align: left;
            line-height: 1.2;

            .dc-user-level-text,.dc-user-coins-text{
              color: var(--font-theme-400);
            }

            .dc-user-level-num,.dc-user-coins-num{
              margin-left: 8px;
            }
          }
        }

        .dc-user-menu{
          position: relative;
          width: 100%;
          margin: 12px auto 0;

          .dc-user-menu-item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 38px;
            text-decoration: none;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 0 12px;

            &:not(:last-child){
              margin-bottom: 12px;
            }

            &:hover{
              background: var(--bg-theme-300);
            }

            .icon {
              display: block;
              width: 18px;
              height: 18px;

              path{
                // stroke: var(--font-theme-900);
                stroke: #000;
              }
            }

            .dc-user-item-text{
              font-size: 16px;
              color: var(--font-theme-900);
              text-align: left;
              line-height: 1.2;
              margin-left: 12px;
            }
          }
        }
      }
    }
  }
}

// 移动端样式
@media screen and (max-width: 1024px) {
  .dc-header {
    padding: 0 20px;

    .dc-header-logo {
      min-width: 80px;
      width: 120px;
      margin-right: 20px;
    }

    .dc-header-nav {
      .header-menu-toggle {
        display: block;
        margin-left: auto;
        width: 24px;
        height: 24px;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;

        .icon_menu {
          margin: 0 auto;
          width: 24px;
          height: 24px;

          .menu-line {
            transition: all 0.3s ease;
          }
        }

        &.active {
          .icon_menu {
            .menu-line-2 {
              opacity: 0;
            }
          }
        }
      }

      .dc-header-menu {
        position: fixed;
        top: 80px;
        left: 0;
        z-index: 999;
        width: 100%;
        height: calc(100vh - 80px);
        background: var(--bg-theme-50);
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 20px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        overflow-y: auto;

        &.active {
          transform: translateX(0);
        }

        .dc-menu-item {
          width: 100%;
          height: auto;
          margin: 0;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: wrap;
          flex-direction: column;

          &:not(:last-child) {
            margin-right: 0;
          }

          &:hover{
            border-bottom: none;
          }

          .dc-menu-link {
            padding: 12px 0;
            width: 100%;
            height: auto;
            justify-content: space-between;
          }

          &.has-submenu{

            &:hover .dc-submenu {
              transform: none;
            }
          }

          .dc-submenu {
            position: static;
            min-width: auto;
            width: 100%;
            opacity: 1;
            visibility: visible;
            transform: none;
            box-shadow: none;
            display: none;

            &.active {
              display: block;
            }

            .dc-submenu-content {
              padding: 0;

              .dc-submenu-item {
                padding: 0 0 12px;
              }
            }
          }
        }
      }
    }

    .dc-header-user {
      margin-left: 12px;
      gap: 12px;

      .dc-search{
        .dc-search-btn{
          width: 24px;
          height: 24px;
          padding: 0;
          border: none;
        }
      }

      .dc-auth{
        .dc-btn{
          font-size: 16px;
          padding: 4px 8px;
          max-width: fit-content;
        }
      }
    }
  }
}

// 动画关键帧
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}