<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reset password</title>
  <link rel="stylesheet" href="./resetpassword.css">
</head>
<body>
  <div class="reset-container">
    <form class="reset-form">
      <div class="reset-inner">
          <div class="reset-header">
            <h1 class="reset-heading-title">重置密码</h1>
            <p class="reset-heading-text">重置你的用户密码</p>
          </div>
          <div class="reset-body">
            <div class="reset-item">
              <label class="label-name" id="rc" for="uid">
                电子邮箱地址或电话号码
                <span class="required">*</span>
              </label>
              <div class="reset-input">
                <div class="input-phone hidden">
                  <div class="countryCode" role="button" tabindex="0">HK +852</div>
                </div>
                <div class="reset-wrapper">
                  <input class="reset-user-name" id="uid" name="email" type="text" placeholder="Input Email address or phone number" aria-label="电子邮箱地址或电话号码" required="" autocomplete="webauthn" autocapitalize="none" autocorrect="off" maxlength="999" spellcheck="false" value="">
                </div>
              </div>
            </div>
            <div class="reset-item">
              <label class="label-verification-code" id="re" for="vcd">
                验证码
                <span class="required">*</span>
              </label>
              <div class="reset-input">
                <input class="input-verification-code" name="verification-code" type="text" placeholder="Input verification code" aria-label="验证码" autocomplete="off" maxlength="999" spellcheck="false" id="vcd" aria-labelledby="re" value="">
              </div>
            </div>
            <div class="reset-item">
              <label class="label-new-password" id="re" for="npid">
                新密码
                <span class="required">*</span>
              </label>
              <div class="reset-input">
                <input class="input-new-password" name="new password" type="password" placeholder="Input new password" aria-label="新密码" autocomplete="off" maxlength="999" spellcheck="false" id="npid" aria-labelledby="re" value="">
              </div>
            </div>
            <div class="reset-item">
              <label class="label-confirm-password" id="re" for="cpid">
                确认密码
                <span class="required">*</span>
              </label>
              <div class="reset-input">
                <input class="input-confirm-password" name="confirm password" type="password" placeholder="Input confirm password" aria-label="确认密码" autocomplete="off" maxlength="999" spellcheck="false" id="cpid" aria-labelledby="re" value="">
              </div>
            </div>
            <button type="submit" class="reset-submit"><span>发送</span></button>
            <a href="./login.html" type="button" class="login-link">
              <span class="login-link-text">登录</span>
            </a>
          </div>
      </div>
    </form>
  </div>
</body>
</html>