.common-sidebar {
  width: 64px;
  height: auto;
  background: #fff;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(65, 105, 225, 0.2);

  .sidebar-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    cursor: pointer;
    border-radius: 8px;

    &:hover{
      background-color: #383838;

      .icon_theme{
        .line{
          stroke: #fff;}}}.sidebar-cb{
      display: none;}.sidebar-cb:checked + .icon_theme{
      transform: rotate(-45deg);

      .line-top-bottom{
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;}}.sidebar-cb:checked ~ .sidebar-default { 
      display: block;}.icon_theme{
      height: 36px;
      transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
      
      .line {
        fill: none;
        stroke: #000;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);}.line-top-bottom {
        stroke-dasharray: 12 63;}}}.sidebar-default {
    display: none;
    opacity: 0;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: auto;

    &.show {
      display: block;
      animation: fadeIn 0.3s ease forwards;}&.hide {
      animation: fadeOut 0.3s ease forwards;}.sidebar-lists {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;

      .sidebar-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        cursor: pointer;
        width: 100%;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 6px 0;

        &:not(:first-child){
          margin-top: 10px;}&:hover,&:focus,&.active{
          background-color: #383838;

          .item-icon{
            svg{
              path{
                stroke: #fff;
                /* fill: #fff;}}}.item-link{ */
            color: #fff;}}.item-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: auto;
  
          svg{
            width: 24px;
            height: 24px;}}.item-link {
          margin: 8px 0 0 0;
          display: block;
          font-size: 16px;
          line-height: 1.2;
          text-align: center;
          color: #000;
          text-decoration: none;}}}.btn-top{
      display: flex; 
      justify-content: center; 
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%; 
      height: 64px;
      background: transparent;
      color: #000;
      border: none; 
      border-radius: 8px; 
      cursor: pointer; 
      margin-top: 10px; 
      
      &:hover, &:focus { 
        background: #383838;
        .btn-icon {
          svg{
            path{
              stroke: #fff;}}}.btn-text {
          color: #fff;}}.btn-icon { 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 24px; 
        height: 24px;
        margin: 0 auto;}.btn-text { 
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        color: #000;}}}}@keyframes fadeIn {
  from { opacity: 0;}to { opacity: 1;}}@keyframes fadeOut {
  from { opacity: 1;}to { opacity: 0;}}/* mobile */
@media screen and (max-width: 1024px) {
  .common-sidebar {
    width: 42px;
    border-radius: 6px;
  
    .sidebar-btn {
      width: 42px;
      height: 42px;
      border-radius: 6px;}.sidebar-default {
  
      .sidebar-lists {
  
        .sidebar-item {
          border-radius: 6px;
          padding: 2px 0;
  
          &:not(:first-child){
            margin-top: 4px;}.item-icon {
    
            svg{
              width: 20px;
              height: 20px;}}.item-link {
            margin: 4px 0 0 0;
            font-size: 14px;}}}.btn-top{
        height: 42px;
        border-radius: 6px;
        margin-top: 4px;
  
        .btn-icon {
          width: 20px; 
          height: 20px;}.btn-text { 
          font-size: 14px;}}}}}