
@keyframes wave {
  0% {
    transform: scaleY(1);
  }

  10% {
    transform: scaleY(0.2);
  }

  20% {
    transform: scaleY(1);
  }

  30% {
    transform: scaleY(0.2);
  }

  40% {
    height: 40px;
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.2);
  }

  60% {
    transform: scaleY(1);
  }

  70% {
    transform: scaleY(0.2);
  }

  80% {
    transform: scaleY(1);
  }

  90% {
    transform: scaleY(0.2);
  }

  100% {
    transform: scaleY(1);
  }
}

// pc
@media screen and (min-width: 1025px) {
  .dc-smp-bgm {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .bgm-btn {
      display: block;
      position: relative;
      width: 28px;
      height: 28px;
  
      &.active{
        .bgm-icon {
          background: none;
          background-size: 100% 100%;
          width: 100%;
          height: 100%;
        }
      }
  
      .bgm-icon {
        display: block;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
  
        svg{
          fill: #000;
        }
      }
    }
  
    .voice-wave {
      display: flex;
      align-items: center;
      position: relative;
      width: 68px;
      margin-left: 10px;
  
      &.play {
        .wave-line {
          animation: wave 3s linear infinite;
  
          @for $i from 1 through 9 {
            &.delay-#{$i} {
              animation-delay: #{ 0.1 + (0.04 * $i) - 0.04 }s;
            }
          }
        }
      }
    }
  
    .wave-line {
      position: relative;
      width: 4px;
      height: 24px;
      background-color: #000;
      transform-origin: center center;
  
      &:not(:first-of-type) {
        margin-left: 4px;
      }
  
      $heights: 24 18 12 8 12 18 24 16 20;
      $total: length($heights);
      $repeatCount: 9;
  
      @for $i from 1 through $repeatCount {
        $index: ($i - 1) % $total;
        $height: nth($heights, $index + 1);
        $class-name: "line-#{$i}";
  
        &.#{$class-name} {
          height: #{$height}px;
        }
      }
    }
  }  
}

// mobile
@media screen and (max-width: 1024px) {
  .dc-smp-bgm {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .bgm-btn {
      display: block;
      position: relative;
      width: 28px;
      height: 28px;
  
      &.active{
        .bgm-icon {
          background: none;
          background-size: 100% 100%;
          width: 100%;
          height: 100%;
        }
      }
  
      .bgm-icon {
        display: block;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
  
        svg{
          fill: #000;
        }
      }
    }
  
    .voice-wave {
      display: flex;
      align-items: center;
      position: relative;
      width: 68px;
      margin-left: 10px;
  
      &.play {
        .wave-line {
          animation: wave 3s linear infinite;
  
          @for $i from 1 through 9 {
            &.delay-#{$i} {
              animation-delay: #{ 0.1 + (0.04 * $i) - 0.04 }s;
            }
          }
        }
      }
    }
  
    .wave-line {
      position: relative;
      width: 4px;
      height: 24px;
      background-color: #000;
      transform-origin: center center;
  
      &:not(:first-of-type) {
        margin-left: 4px;
      }
  
      $heights: 24 18 12 8 12 18 24 16 20;
      $total: length($heights);
      $repeatCount: 9;
  
      @for $i from 1 through $repeatCount {
        $index: ($i - 1) % $total;
        $height: nth($heights, $index + 1);
        $class-name: "line-#{$i}";
  
        &.#{$class-name} {
          height: #{$height}px;
        }
      }
    }
  }  
}