/* pc */
@media screen and (min-width: 1025px) {
	.follow-us {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		padding: 10px 20px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		
		.follow-item {
			display: inline-flex;
			text-decoration: none;
			font-size: 18px;
			width: 60px;
			height: 60px;
			color: #fff;
			justify-content: center;
			align-items: center;
			position: relative;
			margin: 0 16px;

			&::before {
				content: '';
				position: absolute;
				width: 60px;
				height: 60px;
				background: linear-gradient(45deg, #22a6b3, #30336b);
				border-radius: 50%;
				z-index: -1;
				transition: 0.3s ease-in;}&:hover::before {
				transform: scale(0);}&:hover {
				i {
					background: linear-gradient(45deg, #22a6b3, #30336b);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					transform: scale(2.2);

					.icon{
						display: block;
						width: 100%;
						height: 100%;
						
						path{
							fill: #000;}}}.follow-hover {
					display: flex;}}i{
				width: 32px;
				height: 32px;
				transition: 0.3s ease-in;

				&.icon-facebook {}&.icon-twitter {}&.icon-instagram {}&.icon-youtube {}&.icon-linked-in {}.icon{
					display: block;
					width: 100%;
					height: 100%;
					
					path{
						fill: #fff;}}}.follow-text {
				font-size: 14px;
				text-align: center;
				color: #fff;
				position: absolute;
				top: 66px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 2;}.follow-hover {
				display: none;
				position: absolute;
				top: -120px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 2;
				width: 160px;
				height: 120px;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				text-align: center;
				color: #fff;
				background: #22a6b3;
				border-radius: 8px;}}}}/* mobile */
@media screen and (max-width: 1024px) {
	.follow-us {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		padding: 10px 20px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		
		.follow-item {
			display: inline-flex;
			text-decoration: none;
			font-size: 18px;
			width: 60px;
			height: 60px;
			color: #fff;
			justify-content: center;
			align-items: center;
			position: relative;
			margin: 0 16px;

			&::before {
				content: '';
				position: absolute;
				width: 60px;
				height: 60px;
				background: linear-gradient(45deg, #22a6b3, #30336b);
				border-radius: 50%;
				z-index: -1;
				transition: 0.3s ease-in;}&:hover::before {
				transform: scale(0);}&:hover {
				i {
					background: linear-gradient(45deg, #22a6b3, #30336b);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					transform: scale(2.2);

					.icon{
						display: block;
						width: 100%;
						height: 100%;
						
						path{
							fill: #000;}}}.follow-hover {
					display: flex;}}i{
				width: 32px;
				height: 32px;
				transition: 0.3s ease-in;
				&.icon-facebook {}&.icon-twitter {}&.icon-instagram {}&.icon-youtube {}&.icon-linked-in {}.icon{
					display: block;
					width: 100%;
					height: 100%;
					
					path{
						fill: #fff;}}}.follow-text {
				font-size: 14px;
				text-align: center;
				color: #fff;
				position: absolute;
				top: 66px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 2;}.follow-hover {
				display: none;
				position: absolute;
				top: -120px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 2;
				width: 160px;
				height: 120px;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				text-align: center;
				color: #fff;
				background: #22a6b3;
				border-radius: 8px;}}}}