/* pc */
@media screen and (min-width: 1025px){
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;}.icons-container {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .icon-inner {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: column;

      .icon-title{
        font-size: 32px;
        font-weight: bold;
        text-align: left;
        line-height: 1.2;
        color: #000;
        margin-top: 0;}.icon-list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;

        .icon-item {
          display: flex;
          justify-content: space-around;
          flex-direction: column-reverse;
          align-items: center;
          width: 120px;
          height: auto;
          margin: 10px 6px;
          cursor: pointer;
          box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.1),
          -18px -18px 30px rgba(255, 255, 255, 1);
          border-radius: 10px;
          transition: box-shadow .2s ease-out;
          
          &:hover {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.1),0 0 0 rgba(255, 255, 255, 1),inset 18px 18px 30px rgba(0, 0, 0, 0.1),inset -18px -18px 30px rgba(255, 255, 255, 1);
            transition: box-shadow .2s ease-out;}.icon-name {
            font-size: 16px;
            text-align: center;
            line-height: 1.2;
            color: #000;
            margin: 8px auto;}.icon-box {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            svg{
              display: block;
              width: 42px;
              transition: width .2s ease-out;

              path{
                fill: #000;}}}}}}}}/* Mobile */
@media screen and (max-width: 1024px){
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;}.icons-container {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .icon-inner {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: column;

      .icon-title{
        font-size: 32px;
        font-weight: bold;
        text-align: left;
        line-height: 1.2;
        color: #000;
        margin-top: 0;
        margin-bottom: 10px;}.icon-list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;

        .icon-item {
          display: flex;
          justify-content: space-around;
          flex-direction: column-reverse;
          align-items: center;
          width: 106px;
          height: auto;
          margin: 8px 6px;
          cursor: pointer;
          box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.1),
          -18px -18px 30px rgba(255, 255, 255, 1);
          border-radius: 10px;
          transition: box-shadow .2s ease-out;
          
          &:hover {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.1),0 0 0 rgba(255, 255, 255, 1),inset 18px 18px 30px rgba(0, 0, 0, 0.1),inset -18px -18px 30px rgba(255, 255, 255, 1);
            transition: box-shadow .2s ease-out;}.icon-name {
            font-size: 16px;
            text-align: center;
            line-height: 1.2;
            color: #000;
            margin: 8px auto;}.icon-box {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            svg{
              display: block;
              width: 42px;
              transition: width .2s ease-out;

              path{
                fill: #000;}}}}}}}}