/* VARIABLES START */
$fonts: font;
$color: #fff !default;
$design-width-m: 1024 !default;
$design-width-pc: 2560 !default;
$webkit: -webkit- !default;
$moz: -moz- !default;
$ms: -ms- !default;
$o: -o- !default;
$top: 0;
$right: 0;
$bottom: 0;
$left: 0;
$width: auto !default;
$height: auto !default;
/* VARIABLES END */

/* MIXIN START */
@mixin scrollbar() {
  overflow-x: hidden;
  overflow-y: auto;
  direction: ltr;
  scrollbar-color: #fff;
  scrollbar-width: thin;
  cursor: pointer;

  &::-webkit-scrollbar {
    width: 2px;
    height: 16px;
    background: #000;
  }

  &::-webkit-scrollbar-track {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 5px rgba(#000, .2);
    box-shadow: inset 0 0 5px rgba(#000, .2);
    background: #fff;
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(99%, #fff));
    background-image: linear-gradient(0deg, #fff 0%, #fff 99%);
    -webkit-box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }
}

@mixin text-font($font-style: normal, $font-weight: normal, $font-size: 18px, $line-height: 1, $font-family: "Microsoft YaHei", $font-color: #fff, $text-align: center, $letter-spacing: normal, $text-decoration: none) {
  // font-style: normal;
  // font-weight: bold;
  // font-size: 18px;
  // line-height: 1;
  // font-family: "Microsoft YaHei";
  // 上面5个属性的缩写
  font: $font-style $font-weight #{$font-size}/#{$line-height} $font-family;
  color: $font-color;
  text-align: $text-align;
  letter-spacing: $letter-spacing;
  text-decoration: $text-decoration;
}

// @mixin text-shadow($text-shadow...){

// }

@mixin text-overflow($txt-type: 0) {
  @if($txt-type==0) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @else if ($txt-type==1) {
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  @else if ($txt-type==2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: box;
    box-orient: horizontal;
  }
}

@mixin element-size($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

// @mixin element-img($bg-img, $bg-repeat: no-repeat, $bg-size: cover, $width: 100px, $height: 100px) {
//   background-image: url(#{$bg-img});
//   background-repeat: $bg-repeat;
//   background-size: $bg-size;
//   @include element-size($width, $height);
// }

/**
* 背景图片混合器
*
* @param $bgImg 背景图片路径
* @param $bgRepeat 背景重复(repeat、repeat-x、repeat-y、no-repeat、inherit)
* @param $bgSize 背景图像的尺寸(cover、contain、percentage、length)
* @param $width 图片的长度
* @param $height 图片的高度
* @param $bgPosition 背景的位置([top left]、[top center]、[top right]、[center left]、[center center]、[center right]、[bottom left]、[bottom center]、[bottom right]或[x% y%]或[xpos ypos])
* @param $bgOrigin 在何处放置背景图像（此属性规定background-position属性相对于什么位置来定位。padding-box:背景图像相对于内边距框来定位;border-box:背景图像相对于边框盒来定位;content-box:背景图像相对于内容框来定位;）
* @param $bgClip 背景的绘制区域（border-box：背景被裁剪到边框盒;padding-box：背景被裁剪到内边距框;content-box：背景被裁剪到内容框）
* @param $bgAttachment 指定图形是滚动还是固定（fixed：滚动时图片不动【此时background-origin属性不生效】;scrool：跟随内容滚动;inherit：从父元素继承该属性）
* @param $color 背景色
*/
// @mixin backgroundImg($bgImg, $bgRepeat: no-repeat, $bgSize: cover, $width: 100px, $height: 100px, $bgPosition: top center, $bgOrigin: initial, $bgClip:initial, $bgAttachment:initial, $color:#000) {
//   background-image: url(#{$bgImg});
//   background-repeat: $bgRepeat;
//   background-size: $bgSize;
//   width: $width;
//   height: $height;
//   background-position: $bgPosition;
//   background-origin: $bgOrigin;
//   background-clip: $bgClip;
//   background-attachment: $bgAttachment;
//   background-color: $color;
// }

// .p{
//   @include backgroundImg('img/bg1.png',no-repeat,100% 100%,200px,200px,top center,initial,initial,initial,#fff);
// }

@mixin layout-flex($flex: flex, $justify-content: space-between, $align-items: center, $flex-wrap: nowrap, $flex-direction: row) {
  display: $flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
  flex-direction: $flex-direction;
}

@mixin layout-position($position: absolute, $top: 0, $right: 0, $bottom: 0, $left: 50%, $transform: translateX(50%)) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: $transform;
}

@mixin pattern-dots-lg($line-width: 1.5px, $line-margin: calc(10 * 1.5px), $line-color: #000) {
  background-image: radial-gradient(currentColor $line-width, transparent $line-width);
  background-size: $line-margin $line-margin;
  color: $line-color;
}

@mixin pattern-triangles-sm($line-width: 50%, $line-margin: 10px, $line-color: #EEF1F5) {
  background-image: linear-gradient(45deg, currentColor $line-width, transparent $line-width);
  background-size: $line-margin $line-margin;
  color: $line-color;
}

@mixin box-shadow($box-shadow...) {
  box-shadow: $box-shadow;
}

@mixin gradient-bg($gradient-color-from: #c026d3, $gradient-color-to: rgba(192, 38, 211, 0)) {
  background-image: linear-gradient(to top right, $gradient-color-from, $gradient-color-to);
}

/* MIXIN END */


/* RESET START */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.show {
  display: block;
}

.hide {
  display: none;
}

img {
  display: block;
  object-fit: cover;
}

.scrollbar {
  @include scrollbar();
}

/* RESET END */


/* PC START */
@media screen and (min-width: 1025px) {
  @function vw($px) {
    $design-width-pc: 2560;
    @return $px / $design-width-pc * 100vw;
  }

  .slider-container {
    width: 100%;
    height: 100vh;
    background: rgba(rgb(20, 20, 20), .8);
    z-index: 1;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
  }

  .slider-prev,
  .slider-next {
    position: fixed;
    top: 50%;
    translate: 0 -50%;
    background-color: transparent;
    border: none;
    outline: none;
    filter: contrast(100%);
    cursor: pointer;
    z-index: 3;

    &.inactive,
    &.inactive {
      filter: contrast(0%);
      pointer-events: none;
    }

    svg {
      width: 64px;
      height: 128px;
    }
  }

  .slider-prev {
    left: 40px;
  }

  .slider-next {
    right: 40px;
  }

  .slider-carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .slider-carousel-inner {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 500%;
      height: 100%;

      .slide {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;

        &.active {
          transform: translateX(-20%);
        }

        .title {
          color: #EEF1F5;
          width: 80%;
          text-align: center;
          font-size: 120px;
        }

        .title-desc {
          margin: 20px auto 0;
          color: #EEF1F5;
          font-size: 20px;
        }

        .button-container {
          margin: 40px auto 0;

          button {
            width: 130px;
            height: 38px;
            text-transform: uppercase;
            font-family: "Josefin Sans", sans-serif;
            margin-right: 20px;
          }

          .btn-read-more {
            background-color: rgba(#000, .2);
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color, border, color 0.3s;

            &:hover {
              background-color: transparent;
              color: #fff;
              border: 1px solid #fff;
            }
          }

          .btn-read-later {
            background-color: #fff;
            color: rgba(#000, .2);
            border: 1px solid rgba(#000, .2);
            cursor: pointer;
            transition: background-color, border, color 0.3s;

            &:hover {
              background-color: rgba(#000, .2);
              color: #fff;
            }
          }
        }

        .title-letter {
          position: absolute;
          display: block;
          font-size: 300px;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          color: #ccc;
          z-index: -1;
        }
      }
    }
  }

  .slider-pagin-ctrl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    .slider-point {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      margin: 0 10px;
      cursor: pointer;

      &.inactive {
        background-color: rgb(5, 77, 233);
      }
    }
  }
}

/* PC END */


/* MOBILE START */
@media screen and (max-width: 1024px) {
  @function vw($px) {
    $design-width-m: 1024;
    @return $px / $design-width-m * 100vw;
  }
}

/* MOBILE END */