<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://yarnpkg.com/en/package/normalize.css">
  <link rel="stylesheet" href="./slider.css">
  
  <title>slider component</title>
</head>
<body>
  <!-- <section class="slider-container" id="slider">
    <button id="prevBtn" class="inactive">
      <svg viewBox="0 0 50 150">
        <path d="M45 5, L5 75, 45 145"></path>
      </svg>
    </button>
    <button id="nextBtn">
      <svg viewBox="0 0 50 150">
        <path d="M5 5, L45 75, 5 145"></path>
      </svg>
    </button>
    <div class="carousel">
      <div class="carousel-inner">
        <div class="slide">
          <h1>Minimalism and Clean Design in 2012</h1>
          <p>By Tony Soprano</p>
          <div class="button-container">
            <button>Read More</button>
            <button>Read Later</button>
          </div>
          <span>M</span>
        </div>
        <div class="slide">
          <h1>What is Responsive and how Media Queries help?</h1>
          <p>By Pam Anderson</p>
          <div class="button-container">
            <button>Read More</button>
            <button>Read Later</button>
          </div>
          <span>W</span>
        </div>
        <div class="slide">
          <h1>Background patterns - an in depth look</h1>
          <p>By David Beckham</p>
          <div class="button-container">
            <button>Read More</button>
            <button>Read Later</button>
          </div>
          <span>B</span>
        </div>
        <div class="slide">
          <h1>How to add some flair to your Flat designs</h1>
          <p>By Kim Jenner</p>
          <div class="button-container">
            <button>Read More</button>
            <button>Read Later</button>
          </div>
          <span>H</span>
        </div>
        <div class="slide">
          <h1>Reasons why CSS3 is awesome</h1>
          <p>By David Beckham</p>
          <div class="button-container">
            <button>Read More</button>
            <button>Read Later</button>
          </div>
          <span>R</span>
        </div>
      </div>
    </div>
  </section> -->
  <script src="slider.js"></script>
</body>
</html>